body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f0f0f;
    color: #ecf0f1;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
  background-color: #1a1a1a;
  padding: 16px;
  border-bottom: 2px solid #2ecc71;
  max-width: 1200px;
}

header img {
  height: 30px;
}
nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.cart-wrapper{
  position: relative;
}

h1 {
  text-align: center;
  color: #2ecc71;
  margin-bottom: 20px;
}


label {
  margin: 10px auto;
  font-weight: bold;
}

select {
  margin: 0 auto 20px auto;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #2ecc71;
  background-color: #1a1a1a;
  color: #ecf0f1;
}


.contenedor-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionProd{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center;
  
}

.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #0f0f0f, #1a1a1a); 
  border: 1px solid #2ecc71; 
  border-radius: 12px;
  padding: 16px;
  margin: 12px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #ecf0f1; 
  transition: transform 0.3s ease;
}

.card-product:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(46, 204, 113, 0.4); 
}

.card-product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card-product span,
.card-product p {
  margin: 4px 0;
  font-size: 14px;
  text-align: center;
}

.card-product button {
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #2ecc71;
  color: #0f0f0f;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-product button:hover {
  background-color: #27ae60;
}

#cart-img{
  cursor: pointer;
}
.cart-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #0f0f0f, #1a1a1a); 
  border: 1px solid #2ecc71; 
  border-radius: 12px;
  padding: 16px;
  margin: 12px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #ecf0f1; 
  transition: transform 0.3s ease;
}

.cart-product button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(46, 204, 113, 0.4); 
}

#cart-container {
  position: absolute;
  top: 150%;
  right: -16px;
  width: 300px;
  margin: 0 auto;
  background-color: #0f0f0f;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none; 
  z-index: 1000;
}

.cart-buttons{
  display: flex; 
  align-items: center; 
  gap: 10px;
}



#cart-container.visible {
  display: block;
}

.button-container-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-comprar{
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #2ecc71;
  color: #0f0f0f;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-vaciar{
    margin-top: 12px;
  padding: 8px 16px;
  background-color: #cf1313;
  color: #0f0f0f;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-comprar:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(46, 204, 113, 0.4); 
}

.button-vaciar:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(214, 12, 12, 0.4); 
}
